﻿@model labdsoft.Models.Receiver

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Receiver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BloodType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BornDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BornDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDPerson }) |
    @Html.ActionLink("Back to List", "Index")
</p>
