﻿@model labdsoft.Models.ReceiverMatch

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReceiverMatch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Match.IdMatch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Match.IdMatch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.WorkerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.WorkerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rank)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdReceiverMatch }) |
    @Html.ActionLink("Back to List", "Index")
</p>
