﻿@model labdsoft.Models.AnalysisRequest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AnalysisRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDAnalysis.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDAnalysis.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sample.sampleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sample.sampleId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
