﻿@model labdsoft.Models.SampleLocal


@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@{
    List<KeyValuePair<labdsoft.Models.Receiver, double>> dataResult = (List<KeyValuePair<labdsoft.Models.Receiver, double>>)ViewData["listResult"];
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>SampleLocal</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IDSample, "IDSample", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDSample", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDSample, "", new { @class = "text-danger" })
            </div>
        </div>

        <table class="table">
            <tr>
                <th>
                    Sugestions
                </th>           
               
            </tr>

            @foreach (var item in ViewBag.lst)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item)
                    </td>                    
                </tr>
            }
        </table>

        <div class="form-group">
            @Html.LabelFor(model => model.IDLocal, "IDLocal", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDLocal", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDLocal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
