﻿@model List<KeyValuePair<labdsoft.Models.Receiver, double>>

@{
    ViewBag.Title = "Resultado Match";
}

@{
    List<KeyValuePair<labdsoft.Models.Receiver, double>> dataResult = (List<KeyValuePair<labdsoft.Models.Receiver, double>>)ViewData["listResult"];
}

@{int count = 0;}


<h2>ViewResultMatch</h2>

<table class="table">
    <tr>
        <th>
            Posição
        </th>
        <th>
            Nome
        </th>
        <th>
            Rank
        </th>
        <th></th>
    </tr>


    @foreach (KeyValuePair<labdsoft.Models.Receiver, double> item in dataResult)
    {
        <tr>
            <td>
                @(count = count + 1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Key.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
        </tr>
    }
</table>

<div class="form-group">
    @Html.ActionLink("Guardar Lista", "saveResultMatch")
</div>


