﻿@model labdsoft.Models.HLA

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HLA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.WorkerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.WorkerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeDR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeDR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeDQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeDQ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.A)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.A)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.B)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.B)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DQ)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
