﻿@model labdsoft.Models.HLA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HLA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeDR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeDR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeDQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeDQ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.A)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.A)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.B)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.B)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DQ)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDPerson }) |
    @Html.ActionLink("Back to List", "Index")
</p>
