﻿@model IEnumerable<labdsoft.Models.HLA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Person.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeDR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeDQ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.A)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.B)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DQ)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Person.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeDR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeDQ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.A)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.B)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DQ)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDPerson }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDPerson }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDPerson })
        </td>
    </tr>
}

</table>
