﻿@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Hey, nurse!</h2>
        <div class="vertical-menu">
            <p><a href="http://localhost:54943/Receivers/Create">Registo inicial do recetor</a></p>
            <p><a href="http://localhost:54943/AnalysisRequests/Create">Pedido de análises</a></p>
            <p><a href="http://localhost:54943/Donors/Create">Registo inicial do dador</a></p>
            <p><a href="http://localhost:54943/WasteOrganRegs/Create">Registar desperdicio de órgãos e motivo</a></p>
            <p><a href="http://localhost:54943/Samples/Create">Registo de amostras dador/recetor</a></p>
            <p><a href="http://localhost:54943/Matches/Create">Match</a></p>
        </div>
    </div>
</div>
