﻿@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Hey, doctor!</h2>
        <div class="vertical-menu">
            <p><a href="http://localhost:54943/Receivers/Create">Registo inicial do recetor</a></p>
            <p><a href="http://localhost:54943/HLAs/Create">Adicionar HLA</a></p>
            <p><a href="http://localhost:54943/Appointments/Create">Registo de consulta</a></p>            
            <p><a href="http://localhost:54943/AnalysisRequests/Create">Pedido de análises</a></p>
            <p><a href="http://localhost:54943/ReceiverStates/Create">Mudança de estado do recetor</a></p>
            <p><a href="http://localhost:54943/Donors/Create">Registo inicial do dador</a></p>
            <p><a href="http://localhost:54943/WasteOrganRegs/Create">Registar desperdicio de órgãos e motivo</a></p>
            <p><a href="http://localhost:54943/Samples/Create">Registo de amostras dador/recetor</a></p>
            <p><a href="http://localhost:54943/Matches/Create">Match</a></p>
            <p><a href="http://localhost:54943/ReceiverTrackers/Create">Atribuição HealthTracker</a></p>
            <p><a href="http://localhost:54943/TrackerConfigs/Create">Configuração HealthTracker</a></p>
        </div>
    </div>
</div>

