﻿@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Hey, PickTec!</h2>
        <div class="vertical-menu">
            <p><a href="http://localhost:54943/WasteOrganRegs/Create">Registar desperdicio de órgãos e motivo</a></p>
            <p><a href="http://localhost:54943/OrganDonateds/Create">Registo de Recolha de órgão</a></p>
        </div>
    </div>
</div>
