﻿@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Tasks</h2>
        <div class="vertical-menu">
            <p><a href="http://localhost:54943/Receivers/Create">Registo inicial do recetor</a></p>
            <p><a href="http://localhost:54943/Appointments/Create">Registo de consulta</a></p>
            <p><a href="http://localhost:54943/Analyses">Configurar análises</a></p>
            <p><a href="http://localhost:54943/AnalysisRequests/Create">Pedido de análises</a></p>
            <p><a href="#">Registo de resultados das análises de sangue</a></p>
            <p><a href="#">Validação dos resultados de sangue</a></p>
            <p><a href="#">Mudança de estado do recetor</a></p>
            <p><a href="http://localhost:54943/Donors/Create">Registo inicial do dador</a></p>
            <p><a href="http://localhost:54943/WasteOrganRegs/Create">Registar desperdicio de órgãos e motivo</a></p>
            <p><a href="http://localhost:54943/Samples/Create">Registo de amostras dador/recetor</a></p>
            <p><a href="http://localhost:54943/Matches/Index">Match</a></p>
            <p><a href="http://localhost:54943/ReceiverMatches/Index">Geração da lista final de recetores</a></p>
            <p><a href="http://localhost:54943/ReceiverTrackers/Create">Atribuição HealthTracker</a></p>
            <p><a href="http://localhost:54943/TrackerConfigs/Create">Configuração HealthTracker</a></p>
            <p><a href="#">Localização de amostras</a></p>
            <p><a href="http://localhost:54943/OrganDonateds/Create">Registo de Recolha de órgão</a></p>
            <p><a href="#">Visualização de alocação de amostras</a></p>
        </div>
    </div>   
</div>