﻿@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Hey, LabTec!</h2>
        <div class="vertical-menu">
            <p><a href="http://localhost:54943/AnalysisRequests/Create">Pedido de análises</a></p>
            <p><a href="http://localhost:54943/AnalysisPPersons/Create">Registo de resultados das análises de sangue</a></p>
            <p><a href="http://localhost:54943/WasteOrganRegs/Create">Registar desperdicio de órgãos e motivo</a></p>
            <p><a href="http://localhost:54943/Samples/Create">Registo de amostras dador/recetor</a></p>
            <p><a href="http://localhost:54943/SampleLocals/Create">Localização de amostras</a></p>
            <p><a href="http://localhost:54943/SampleLocals">Visualização de alocação de amostras</a></p>

        </div>
    </div>
</div>
