﻿@model labdsoft.Models.TrackerConfig

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrackerConfig</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrackerID.TrackerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackerID.TrackerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.min_TA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.min_TA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.max_TA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.max_TA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.min_Temp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.min_Temp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.max_Temp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.max_Temp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.min_HR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.min_HR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.max_HR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.max_HR)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDTracker }) |
    @Html.ActionLink("Back to List", "Index")
</p>
