﻿@model IEnumerable<labdsoft.Models.TrackerConfig>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TrackerID.TrackerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.min_TA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.max_TA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.min_Temp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.max_Temp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.min_HR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.max_HR)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TrackerID.TrackerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.min_TA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.max_TA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.min_Temp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.max_Temp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.min_HR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.max_HR)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDTracker }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDTracker }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDTracker })
        </td>
    </tr>
}

</table>
