﻿@model labdsoft.Models.WasteOrganReg

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WasteOrganReg</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDOrgan.OrganDonatedId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDOrgan.OrganDonatedId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrganID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
