﻿@model IEnumerable<labdsoft.Models.Sample>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sampleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sampleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.sampleId }) |
            @Html.ActionLink("Details", "Details", new { id = item.sampleId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.sampleId })
        </td>
    </tr>
}

</table>
