﻿@model labdsoft.Models.OrganDonated

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrganDonated</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrganType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrganDonatedId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
