﻿@model labdsoft.Models.AnalysisPPerson

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AnalysisPPerson</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDAnalysis.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDAnalysis.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.WorkerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
