﻿@model IEnumerable<labdsoft.Models.AnalysisPPerson>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDAnalysis.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.WorkerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDAnalysis.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.WorkerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IDPerson, date = item.Date }) |
            @Html.ActionLink("Details", "Details", new { id = item.IDPerson }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IDPerson })
        </td>
    </tr>
}

</table>
